


.search-box input{

   padding: 5px;
    font-size: 15px;
}

.search-box .fa-search{

    margin-left: -25px;

}

.estrenos img {
    width: 100%;
    vertical-align: top;
}

.cartelera img {
    width: 100%;
}

.hero .banner{
    background: #333 url(../img/banner.jpg)no-repeat;
    background-size: contain;   
    width: 100%;
}

.movie-info{
    padding: 70px;
    
}


.pelicula {
   
    color: gainsboro;
    line-height: 1.6;
      font-family: 'Muli', sans-serif;
    font-size: 12px;
  
}

.pelicula h1{
    font-family: 'Shrikhand', cursive;
    }

.iconosi{
    left: 10%;
    padding: 15%;
    position: relative;
}

/*-------------------------------------------------------------------------------------------------------*/

.estrenos {
    background: #F5DE32;
    padding: 10px;
    
}

.estrenos img{
    width: 100%;
    height: 200px;
    
}

/*-------------------------------------------------------------------------------------------------------------*/

.texto {
    line-height: 40px;
    padding: 40px;
}

.textodos{
    padding: 40px;
     font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.textodos ul {
    list-style: none;
}


/*-------------------------------------------------------------------------------------------------------------*/


.cartelera img {
     width: 100%;
    height: 250px;
}


/*-------------------------------------------------------------------------------------------------------------*/

.completo {
    background-color: #F1F1F0;
    color: #C9C6BC;
     font-family: 'Muli', sans-serif;
    font-size: 12px;
}

.botonfinal {
     
        font-size:12px;
        font-family:Verdana,Helvetica;
        text-align: center;
        color:white;
        background:#FCBF14;
        border:0px;
        width:120px;
        height:60px;
       
}

.botondos {
     
        font-size:12px;
        font-family:Verdana,Helvetica;
        text-align: center;
        color:white;
        background:#8E6906;
        border:0px;
        width:120px;
        height:60px;
       
}

.botonuno {
     
        font-size:12px;
        font-family:Verdana,Helvetica;
        text-align: center;
        color:white;
        background:#FCBF14;
        border:0px;
        width:120px;
        height:60px;
       
}

.semiboton{
    font-size:12px;
        font-family:Verdana,Helvetica;
        background-color: mediumaquamarine;
        text-align: center;
        color:white;
        border-color: mediumaquamarine;
        border:1px;
        width:120px;
        height:60px;
}









































