*{
    outline: 1px solid rgb(255, 0, 0);
    
}


.search-box input{

   padding: 5px;
    font-size: 15px;
}

.search-box .fa-search{

    margin-left: -25px;

}

.estrenos img {
    width: 100%;
}
.cartelera img {
    width: 100%;
}

.hero .banner{
    background: #333 url(../img/banner.jpg)no-repeat;
    background-size: contain;   
    width: 100%;
}

.pelicula {
    color: gainsboro;
    line-height: 1.6;
  
}

.pelicula h1{
    
}